@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 243.4 100% 95%;
    --foreground: 243.4 5% 0%;
    --card: 243.4 50% 90%;
    --card-foreground: 243.4 5% 10%;
    --popover: 243.4 100% 95%;
    --popover-foreground: 243.4 100% 0%;
    --primary: 243.4 75.4% 58.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 243.4 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 205.4 30% 85%;
    --muted-foreground: 243.4 5% 35%;
    --accent: 205.4 30% 80%;
    --accent-foreground: 243.4 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 243.4 5% 90%;
    --border: 243.4 30% 50%;
    --input: 243.4 30% 18%;
    --ring: 243.4 75.4% 58.6%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 243.4 50% 5%;
    --foreground: 243.4 5% 90%;
    --card: 243.4 50% 0%;
    --card-foreground: 243.4 5% 90%;
    --popover: 243.4 50% 5%;
    --popover-foreground: 243.4 5% 90%;
    --primary: 243.4 75.4% 58.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 243.4 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 205.4 30% 15%;
    --muted-foreground: 243.4 5% 60%;
    --accent: 205.4 30% 15%;
    --accent-foreground: 243.4 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 243.4 5% 90%;
    --border: 243.4 30% 18%;
    --input: 243.4 30% 18%;
    --ring: 243.4 75.4% 58.6%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-gradient-to-tl from-background via-secondary/80 to-background/95  text-foreground;
  }

  .bggrad {
    @apply bg-gradient-to-tl from-background via-secondary/80 to-primary/10;
  }
  .typed-text {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 4s linear infinite;
  }

  .cursor {
    animation: blink 1s step-end infinite;
  }

  .bubble-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .bubble {
    @apply bg-muted-foreground; /* Adjust opacity as needed */
    position: absolute;
    border-radius: 50%;
    animation: bubbleAnimation 5s infinite linear;
  }

  @keyframes bubbleAnimation {
    0% {
      transform: translateY(0) scale(1);
      opacity: 1;
    }
    50% {
      transform: translateY(-200px) scale(0.8);
      opacity: 0.5;
    }
    100% {
      transform: translateY(-400px) scale(0.6);
      opacity: 0;
    }
  }
}

html,
body,
:root {
  font-family: "Inter Variable", sans-serif;
}

/*  scroll bar styling  */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: hsl(0 201% 100%);
  border-radius: 0.2rem;
}

.dark ::-webkit-scrollbar-track {
  background: hsl(240 10% 3.9%);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(240 10% 3.9%);
  border-radius: 5px;
}
.dark ::-webkit-scrollbar-thumb {
  background-color: hsl(0 0% 100%);
}

/* Handle on hover */
.dark ::-webkit-scrollbar-thumb:hover {
  background: hsl(240, 6%, 51%);
}
::-webkit-scrollbar-thumb:hover {
  background: hsl(214, 3%, 41%);
}

/* BotLoading.css */
@keyframes typing {
  0% {
    width: 0px; /* Start with 0 width */
  }
  10% {
    width: 30px; /* Increase width gradually */
  }
  20% {
    width: 60px; /* Increase width gradually */
  }
  30% {
    width: 90px; /* Increase width gradually */
  }
  40% {
    width: 120px; /* Increase width gradually */
  }
  50% {
    width: 150px; /* Increase width gradually */
  }
  60% {
    width: 180px; /* Increase width gradually */
  }
  70% {
    width: 210px; /* Increase width gradually */
  }
  80% {
    width: 240px; /* Increase width gradually */
  }
  90% {
    width: 270px; /* Increase width gradually */
  }
  100% {
    width: 300px; /* Fully typed */
  }
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
.wavy-border {
  animation: wave ease-in-out infinite 4s;
}

@keyframes wave {
  0% {
    border-radius: 60% 40% 30% 70%/ 60% 30% 70% 40%;
  }
  25% {
    border-radius: 40% 60% 50% 40%/ 40% 40% 50% 60%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/ 50% 60% 30% 60%;
  }
  75% {
    border-radius: 50% 30% 40% 60%/ 30% 70% 60% 50%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/ 60% 30% 70% 40%;
  }
}
